@charset "UTF-8";

:root {

    --black: #14191B;
    --darkblue: #1A3036;
    --lightblue: #618B90;
    --gold: #B8824D;
    --dirtywhite: #C2C3B9;
    --white: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5 {
    font-family: 'Josefin sans'sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: var(--lightblue);
    color: var(--darkblue);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    opacity: .85;
    font-weight: 800;
    text-align: center;
}

/* mobile */

/* .main-img {
    background-image:url(gjoel_kro_menu.jpeg);

    background-size: cover;
    height: 40vw;
    background-position-y: 45%;
    width: 100%;
    display: none;
} */

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nav"
        "lunch"
        "dinner"
        "event"
        "footer"
    ;
}

/* Mobile navigation */

header .mobile-nav {

    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100vw);
    transition: transform .25s ease-in-out;
}

header .mobile-nav ul li {
    margin: 2rem 0;
    font-size: 1.6rem;
    text-align: center;
}



/* Mobile first-Menu for JAVA */

/* header.opened .mobile-nav {
    transform: translateX(0);
}



header.opened #menu {
    background-color: var(--black);
} */

/* lunch */

.lunch {
    background-image: url(pictures/dish.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vw;
    grid-area: lunch;
}


.dinner {
    background-image: url(pictures/dish2.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vw;
    grid-area: dinner;
}

.home-text h2 {
    font-size: 3rem;
    color: var(--dirtywhite);
    font-weight: lighter;
    font-size: 15vw;
}

.home-text h4 {
    display: none;
}

.home-text p:nth-child(4), p:nth-child(6) {
    display: none;
}

.events p:nth-child(3) {
    display: none;
}

.events {
    background-image: url(pictures/1.PNG);
    width: 100%;
    height: 100vw;
    grid-area: event;
}

.img-dinner, .img-lunch {
    display: none;
}

.dinner div, .lunch div, .events div {
    gap: 2rem;
}

.dinner, .events, .lunch {
    padding: 14vw 9vw 0 9vw;
    color: var(--white);
}

footer {
    gap: 1rem;
    background-color: #000000;
    color: var(--dirtywhite);
    padding: 9vw;
}

footer h5 {
    color: var(--lightblue);
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

footer section p {
    line-height: 2;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.fas, .fab {
    color: var(--lightblue);
    font-size: 1.3rem;
}

@media screen and (min-width: 1200px) {
    .main-img {
        display: block;
    }
}